body {
padding: 0;
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 20px;
    background: #f1efea;
}

h1 {
font-weight: normal;
text-align: center;
}


#header  { padding: 22px 00px 12px 00px;margin: 0 auto; }
#top     { padding: 30px 00px 00px 00px; }
#content { padding: 50px 00px 30px 00px; position: relative;}
#footer  { padding: 25px 00px 40px 00px; width: 100%;color: #555;background: #f1efea;}
#container{ margin: 0 auto;}


.wrapper {
text-align: left;
margin: 0 auto;
}
#footer .wrapper {
width: 100%;
white-space:nowrap;
    text-align: center;
}

#footer p {
margin-bottom: 20px;
}
#footer a {
color: #555;
padding: 6px;
}

#footer a span {
border-bottom: 1px solid #ddd;
font-size: 13px;
}

#footer span.bar {
padding: 0 3px;
color: #ccc;
visibility: hidden;
}
#footer #copyright {
color: #888;
font-size: 11px;
}



body.login #header { width: 420px; }
body.login #header h1 a { width: 320px; } /**/
body.login #container { width: 460px; }
body.login .wrapper { width: 380px; }


body.small #wrapper {
text-align: left;
margin: 0 auto;
}
body.small #header {
margin-bottom: 30px;
padding: 40px 0 0 0;
border: none;
background: none;
}
body.small #header h1 {
margin: 0 30px;
}
body.small #container { background: #f7f6f3; border: 1px solid #e7e5e0;border-radius: 6px; }


body.small #content {
padding: 25px 30px 20px 30px;
}

body.small #content input.inputtext {
width: 240px;
}

body.small #content a {
color: #36808e;
border-bottom: 1px solid #d0e8e7;
}


table.login {
margin: 5px auto;
}
table.login th {
padding: 5px 10px 5px 0;
vertical-align: top;
text-align: right;
}

table.login input.inputtext {
width: 250px !important;
color: #515348;
}
table.login input.public-button {
margin: 0;
}

body.login div.error {
margin: 0 0 15px 0;
text-align: center;
}


input.inputtext {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
border: 1px solid #aaa;
padding: 7px;
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
font-size: 13px;
border-radius: 3px;
position: relative;
}

input.public-button {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
vertical-align: top;
padding: 6px 14px 6px 14px;
border: 1px solid #a2a2a2;
color: #444;
cursor: pointer;
border-radius: 5px;
position: relative;
}


.mtop0 { margin-top: 0 !important; }
.mbottom025 { margin-bottom: 5px !important; }
.mtop05 { margin-top: 5px !important; }
.mtop025 { margin-top: 5px !important; }
.mbottom0 { margin-bottom: 0 !important; }


div.error {
margin: 15px 0;
background: #a62b25;
border-top: 2px solid #ef7842;
border-bottom: 2px solid #ef7842;
padding: 5px 15px 5px 15px;
color: #fff;
font-weight: bold;
}