div {
	border-radius: 5px;
}
ul{
    width: 15%;
}
li {
	list-style-type: square;
    width: 200px;

}
a{
    width:200px;

}
div a{
    height: 100px;
	width: 400px;
}
img {
	height: 15%;
	width: 400px;
    border-color: #ffffff;
}

a:hover {
	font-weight: bold;
}
a:visited{
    color: blue;
}

#footer {
	position: relative;
	height: 10%;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}

#header {
	z-index: 1;
    position: relative;
	height: 15%;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
    display: block;

}
.wrapper {width: 100%;height: 100%; }
.left {
	height: 420px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
    width:200px;
    position:absolute;
    left:0 ;
    z-index:1

}
.right {

	margin-top: 50px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
    height: 420px;
    margin-left:200px;
}

/*
#search{
    display: block;
    background-color: cornflowerblue;
    border: 2px solid black;
    padding:20px;
    height: 50px;
	width: 200px;
}
*/
#loadandapply{
    display: block;
    background-color: cornflowerblue;
    border: 2px solid black;
    padding:20px;
    height: 50px;
	width: 200px;
}
/*
#show{
    display: block;
    border: 2px solid black;
    background-color: cornflowerblue;
    padding:20px;
    height: 50px;
	width: 200px;
}
*/

#commonOutput{
    border:1px solid black;
    background-color: aliceblue;
    overflow: scroll;
}
#cmdResInConsole{
    border:1px solid black;
    background-color: aliceblue;
    height: 400px;
    overflow: scroll;
}

#outputInShowSessions{
    border:1px solid black;
    background-color: aliceblue;
    max-height: 200px;
    overflow-y: scroll;
}

.error{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    color: chocolate;

}
.success{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    color: green;
}