{% extends "home.html" %}
{% block title %}SASN admin console output{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(function(){
        $("#cmdResInConsole").scrollTop($("#cmdResInConsole")[0].scrollHeight);
        });
    </script>
{% endblock %}


{% block content %}
    <form name="console_output" method="POST" action="/my_console/">

        Enter a command to execute:
        <input type="text" name="cmd"/>
        <input type="submit" value="Submit"/>

    </form>
    <div id="cmdResInConsole" >

        {% if results %}
            {% for res in results %}
                {{ res }}<br>
            {% endfor %}
        {% else %}
            <h1>Please enter a command!!</h1>
        {% endif %}
    </div>
{% endblock %}

