{% extends "home.html" %}
{% block title %}SASN admin console output{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(function(){
        $(".commonOutput").scrollTop($(".commonOutput")[0].scrollHeight);
        });
    </script>
{% endblock %}


{% block content %}
    <form name="console_output" method="POST" action="/my_console/">

        <input id="cmdInputInConsole" type="text" name="cmd" />
        <input type="submit" value="Submit"/>

    </form>
    <div class="commonOutput" >

        {% if results %}
            {% for res in results %}
                {{ res }}<br>
            {% endfor %}
        {% else %}
            <h1>Please enter a command!!</h1>
        {% endif %}
    </div>
{% endblock %}

