<!doctype html>

<html lang="en">
<head>
    {% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>{% block title %} Hello from Flask {% endblock %}</title>
    {% endblock %}
</head>

<body>
<div id=""header>{% block header %}
    <img src="/static/sasnadmin.png" />
     {% endblock %}
</div>
 <div id="content">{% block content %}
    <div id="left">{% block left %}
        <div id="search"><a href="/templates/search.html">Search</a></div>
        <div id="loadandapply"><a href="/templates/loadandapply.html">Load&Apply</a></div>
  {% endblock %}</div>


 {% endblock %}</div>
    <div id="footer">
        {% block footer %}
        Copyright 2008 by Ericsson.
        {% endblock %}
    </div>
</body>
