{% extends "home.html" %}
{% block title %}SASN admin Show Sessions{% endblock %}


{% block content %}

    <form name="select_part" method="POST" action="/showsessions/ ">
        List partitions in SASN:
        <div class="outputInShowSessions" name="cmd">
            {% if results_showpart %}
                {% for res in results_showpart %}
                    {{ res }}<br>
                {% endfor %}
            {% else %}
                <h3>Can not get partition information!</h3>
            {% endif %}
        </div>
    </form>

    <form name="show_session" method="POST" action="/showsessions/" style="position:relative; top:10px;">
        Select partition [Input Number]:
        <input type="text"  name="partition"/>
        <input type="submit" value="Submit"/>
        <div class="outputInShowSessions">
            {% if results_showsess %}
                {% for res in results_showsess %}
                    {{ res }}<br>
                {% endfor %}
            {% endif %}
        </div>
    </form>

{% endblock %}

