{% extends "home.html" %}
{% block title %}SASN admin Show Sessions{% endblock %}


{% block content %}


    <form name="show_scm_session" method="POST" action="/showsessions/">
        Show scm sessions on Partition
        {% if partition_amount %}
            {% for num in partition_amount %}
                <select name="partition_num">
                    <option value="{{ num }}">{{ num }}</option>
                </select>
            {% endfor %}
        {% endif %}
        on
            <select name="sasn_role">
                <option value="1">master</option>
                <option value="0">backup</option>
            </select>

        <input type="submit" value="Submit"/>
    </form>

    {% if show_scm_sessions %}
        <div class="commonOutput">
            {% for info in show_scm_sessions %}
                {{ info }}<br>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

